@page
@model MedUnity.Pages.BookAppointmentModel
@{
}
<html>
    <head>
        <title>

        </title>
    </head>

    <body>
        <form method=" post">

        <div class="appointmentdate">

            <input type="date" required />
        </div>

        <br />
        <div class="timeslot">

            <strong>Time Slot </strong>
            <select required>
            <option value="">Select Time Slot </option>
            <option> 8.00 - 9.00 </option>
            <option> 9.00 - 10.00 </option>
            <option> 10.00 - 11.00 </option>
            <option> 11.00 - 12.00 </option>
            <option> 12.00 - 13.00 </option>
            <option> 13.00 - 14.00 </option>
            <option> 14.00 - 15.00 </option>
            <option> 15.00 - 16.00 </option>
            <option> 16.00 - 17.00 </option>
            </select>
        </div>
        <br />

        <div class="DoctorSpecial">
            <strong> Doctor Specialization</strong>
            <select required>
                <option value="">Select Specialization </option>
                <option> General</option>
                <option> Pediatric</option>
                <option> Cardiology</option>
                <option> Dermatology</option>
                
            </select>
        </div>

        <div class="reasonforvisit">
            <input type="text" rows="4" placeholder="Enter reason to visit"/>
        </div>

        <br />

        <div class=" appointmentphone">
            <input type="text" placeholder="Enter your Tel-No" required/>
        </div>

        <br />
        <button type="submit">
           Place Appointment
        </button>

        </form>




    </body>
</html>