@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Health is a holistic concept defined as a state of complete physical, mental, and social well-being, and not merely the absence of disease or infirmity. It is a fundamental resource for daily living, allowing individuals to realize their abilities, cope with stress, and contribute to their community.
        Key aspects of health include:
        Physical Health: Involves the proper functioning of the body's systems, maintained through a balanced diet, regular exercise, adequate sleep, and good hygiene.
        Mental Health:rs to a <br />person's emotional, social, and psychological well-being, including the ability to manage stress and find purpose in life.
        Social Health: Encompasses the capacity to form and maintain fulfilling relationships with family, friends, and the community.
        Health is a dynamic<br /> process influenced by a wide range of factors, known as determinants of health, which go beyond individual choices. These include:
        Social and economic environments (income, education, social support networks)
        Physical environments (safe water, clean air, healthy workplaces)
        Individual <br />characteristics and behaviors (genetics, lifestyle choices)
        Access to healthcare services.
    </p>
    
</div>
