@page
@model MedUnity.Pages.MyAppointmentsModel
@{
}
<div class="myappheading"> 

<h4> <center> My Appointments</center></h4>

</div>
<br />

<div class="myappdetails"> 

    <label><strong> Appointment Date : </strong> <div class="myappdate"> </div> </label>
    <br />
    <label> <strong> Time Slot: </strong> <div class="myapptimeslot"> </div></label>
    <br />
    <label> <strong> Reason: </strong> <div class="myappreason"> </div></label>
    <br />
    <label> <strong> Doctor Type: </strong> <div class="myappdoctype"> </div></label>
    <br />
</div>
<br />

<div class="myappstatus">
    
<h5> Pending</h5>

</div>
<br />

<div class="myappremove">

    <button> Remove</button>

</div>